# Porject specific folders
kernels/


# Generic build files
build/
*.o

# Other non published/public files
SoA_Analysis.md
bfloat8_mine.hpp

#AI auxiliary files
Roadmap.md

#Python files
Python/Matmul_Benchmark_Roadmap.md
Python/Advanced_Optimization.md
