# Porject specific folders
kernels/
Python/

# Generic build files
build/
*.o

# Other non published/public files
SoA_Analysis.md
bfloat8_mine.hpp

#Python files
Python/Matmul_Benchmark_Roadmap.md
Python/Advanced_Optimization.md
Antigravity_implementation_plan.md
bfloat8_mine.hpp
Roadmap.md
